name: opi-lab-regression
on: workflow_dispatch
jobs:
  opi-tgen:
    runs-on: self-hosted
    steps:
        - uses: actions/checkout@v1
        - name: pytest-run0
          run: id
        - name: pytest-run1
          run: ls
        - name: pytest-run2
          run: pwd
        - name: pytest-run3
          run: pip install -r ./demos/tgen/requirements.txt
        - name: pytest-run4
          env:
            ROOT_PASSWORD: ${{ secrets.ROOT_PASSWORD }}
          run: pytest -s ./demos/tgen/test_tgen_demo.py

  opi-ipsec:
    runs-on: self-hosted
    steps:
        - uses: actions/checkout@v1
        - name: Install python requirements 
          run: pip install -r ./demos/tgen/requirements.txt
        - name: Run ipsec test automation
          run: pytest -s ./demos/security/nvidia/ipsec-config.py

  opi-ansible:
    runs-on: self-hosted
    steps:
        - name: nvidia bf-2 fw update using ansible
          run: |
              docker run --rm --pull=always \
                  ghcr.io/opiproject/ansible-opi-dpu:main \
                  all \
                  --module-name include_role \
                  --args name=bmc_fw_update \
                  -vvv -i "172.22.4.2," \
                  -e dpu_bmc_username='root' \
                  -e dpu_bmc_password='NvidiaBf2#Pass' \
                  -e bmc_fw_update_inventory_name='a5e46d02_running' \
                  -e bmc_fw_update_image_file='/tmp/bf2-bmc-ota-24.01-5-opn.tar'
